body {
    text-align: center;
    background-color: lightcyan;
    font-size: 25px;
}

h1 {
    color: darkgreen;
    font-size: 30px;
}

.laInfo{
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
}

table {
    width: 500px;
    margin: 20px auto;
    padding: 5px auto;
    border: 2px solid;
}

input {
    margin: 5px;
    padding: 5px;
    background-color: white;
}

textArea {
    width: 500px;
    height: 100px;
    padding: 5px auto;
}

.error {
    color: red;
}

.datos_entrada {    
    background-color: #b26ee2;
}


button {
    width:100px;
    height: 40px;
    margin: 10px;
}

/*cambiar estilo de los botones

#ejecutar {
    background-color: green;
    color: white;
    font-weight: bold;
}

#recordar {
    background-color: orange;
    color: white;
    font-weight: bold;
}

#desplegar {
    background-color: blue;
    color: white;
    font-weight: bold;
}

#filtrar {
    background-color: purple;
    color: white;
    font-weight: bold;
}

#menosAno {
    background-color: red;
    color: white;
    font-weight: bold;
}

#encontrar {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

#interesBajo {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}
*/
